@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* animations */
@keyframes underline {
  from {
    width: 0px;
    left:50%
  }
  to {width: 100%;left:0;}
}

body {
  background-color: #f1dfe8;
  padding: 30px;
  font-family: 'Inclusive Sans';
  display: flex;
  justify-content: center;
}

h1,h2 {
  padding-bottom: 1em;
}

p {
  padding-bottom: 1em;
}

ul {
  padding-left: 1em;
}

a {
  color: #3f0c61;
  text-decoration: none;
  position: relative;
}

a:hover:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #3f0c61;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  animation: underline 0.2s forwards;
}